/*

Arduino® Light Theme - Stefania Mellai <s.mellai@arduino.cc>

*/

.hljs-style-arduino-light .hljs {
  background: white;
  color: #434f54;
}

.hljs-style-arduino-light .hljs-subst {
  color: #434f54;
}

.hljs-style-arduino-light .hljs-keyword,
.hljs-style-arduino-light .hljs-attribute,
.hljs-style-arduino-light .hljs-selector-tag,
.hljs-style-arduino-light .hljs-doctag,
.hljs-style-arduino-light .hljs-name {
  color: #00979D;
}

.hljs-style-arduino-light .hljs-built_in,
.hljs-style-arduino-light .hljs-literal,
.hljs-style-arduino-light .hljs-bullet,
.hljs-style-arduino-light .hljs-code,
.hljs-style-arduino-light .hljs-addition {
  color: #D35400;
}

.hljs-style-arduino-light .hljs-regexp,
.hljs-style-arduino-light .hljs-symbol,
.hljs-style-arduino-light .hljs-variable,
.hljs-style-arduino-light .hljs-template-variable,
.hljs-style-arduino-light .hljs-link,
.hljs-style-arduino-light .hljs-selector-attr,
.hljs-style-arduino-light .hljs-selector-pseudo {
  color: #00979D;
}

.hljs-style-arduino-light .hljs-type,
.hljs-style-arduino-light .hljs-string,
.hljs-style-arduino-light .hljs-selector-id,
.hljs-style-arduino-light .hljs-selector-class,
.hljs-style-arduino-light .hljs-quote,
.hljs-style-arduino-light .hljs-template-tag,
.hljs-style-arduino-light .hljs-deletion {
  color: #005C5F;
}

.hljs-style-arduino-light .hljs-comment {
  color: rgba(149,165,166,.8);
}

.hljs-style-arduino-light .hljs-meta .hljs-keyword {

  color: #728E00;
}

.hljs-style-arduino-light .hljs-meta {
  color: #434f54;
}

.hljs-style-arduino-light .hljs-emphasis {
  font-style: italic;
}

.hljs-style-arduino-light .hljs-strong {
  font-weight: bold;
}

.hljs-style-arduino-light .hljs-function {
  color: #728E00;
}

.hljs-style-arduino-light .hljs-title,
.hljs-style-arduino-light .hljs-section {
  color: #880000;
  font-weight: bold;
}

.hljs-style-arduino-light .hljs-number {
  color: #8A7B52;
}
