/**
 * Obsidian style
 * ported by Alexander Marenin (http://github.com/ioncreature)
 */

.hljs-style-obsidian .hljs {
  color: #e0e2e4;
  background: #282b2e;
}

.hljs-style-obsidian .hljs-keyword,
.hljs-style-obsidian .hljs-selector-tag,
.hljs-style-obsidian .hljs-literal,
.hljs-style-obsidian .hljs-selector-id {
  color: #93c763;
}

.hljs-style-obsidian .hljs-number {
  color: #ffcd22;
}

.hljs-style-obsidian .hljs-attribute {
  color: #668bb0;
}

.hljs-style-obsidian .hljs-regexp,
.hljs-style-obsidian .hljs-link {
  color: #d39745;
}

.hljs-style-obsidian .hljs-meta {
  color: #557182;
}

.hljs-style-obsidian .hljs-tag,
.hljs-style-obsidian .hljs-name,
.hljs-style-obsidian .hljs-bullet,
.hljs-style-obsidian .hljs-subst,
.hljs-style-obsidian .hljs-emphasis,
.hljs-style-obsidian .hljs-type,
.hljs-style-obsidian .hljs-built_in,
.hljs-style-obsidian .hljs-selector-attr,
.hljs-style-obsidian .hljs-selector-pseudo,
.hljs-style-obsidian .hljs-addition,
.hljs-style-obsidian .hljs-variable,
.hljs-style-obsidian .hljs-template-tag,
.hljs-style-obsidian .hljs-template-variable {
  color: #8cbbad;
}

.hljs-style-obsidian .hljs-string,
.hljs-style-obsidian .hljs-symbol {
  color: #ec7600;
}

.hljs-style-obsidian .hljs-comment,
.hljs-style-obsidian .hljs-quote,
.hljs-style-obsidian .hljs-deletion {
  color: #818e96;
}

.hljs-style-obsidian .hljs-selector-class {
  color: #A082BD
}

.hljs-style-obsidian .hljs-keyword,
.hljs-style-obsidian .hljs-selector-tag,
.hljs-style-obsidian .hljs-literal,
.hljs-style-obsidian .hljs-doctag,
.hljs-style-obsidian .hljs-title,
.hljs-style-obsidian .hljs-section,
.hljs-style-obsidian .hljs-type,
.hljs-style-obsidian .hljs-name,
.hljs-style-obsidian .hljs-strong {
  font-weight: bold;
}

.hljs-style-obsidian .hljs-code,
.hljs-style-obsidian .hljs-title.class_,
.hljs-style-obsidian .hljs-class .hljs-title,
.hljs-style-obsidian .hljs-section {
  color: white;
}
