/**
 * Panda Syntax Theme for Highlight.js
 * Based on: https://github.com/tinkertrain/panda-syntax-vscode
 * Author: Annmarie Switzer <https://github.com/annmarie-switzer>
 */

.hljs-style-panda-syntax-dark .hljs {
  color: #e6e6e6;
  background: #2a2c2d;
}

.hljs-style-panda-syntax-dark .hljs-emphasis {
  font-style: italic;
}

.hljs-style-panda-syntax-dark .hljs-strong {
  font-weight: bold;
}

.hljs-style-panda-syntax-dark .hljs-link {
  text-decoration: underline;
}

.hljs-style-panda-syntax-dark .hljs-comment,
.hljs-style-panda-syntax-dark .hljs-quote {
  color: #bbbbbb;
  font-style: italic;
}

.hljs-style-panda-syntax-dark .hljs-params {
  color: #bbbbbb;
}

.hljs-style-panda-syntax-dark .hljs-punctuation,
.hljs-style-panda-syntax-dark .hljs-attr {
  color: #e6e6e6;
}

.hljs-style-panda-syntax-dark .hljs-selector-tag,
.hljs-style-panda-syntax-dark .hljs-name,
.hljs-style-panda-syntax-dark .hljs-meta {
  color: #ff4b82;
}

.hljs-style-panda-syntax-dark .hljs-operator,
.hljs-style-panda-syntax-dark .hljs-char.escape_ {
  color: #b084eb;
}

.hljs-style-panda-syntax-dark .hljs-keyword,
.hljs-style-panda-syntax-dark .hljs-deletion {
  color: #ff75b5;
}

.hljs-style-panda-syntax-dark .hljs-regexp,
.hljs-style-panda-syntax-dark .hljs-selector-pseudo,
.hljs-style-panda-syntax-dark .hljs-selector-attr,
.hljs-style-panda-syntax-dark .hljs-variable.language_ {
  color: #ff9ac1;
}

.hljs-style-panda-syntax-dark .hljs-subst,
.hljs-style-panda-syntax-dark .hljs-property,
.hljs-style-panda-syntax-dark .hljs-code,
.hljs-style-panda-syntax-dark .hljs-formula,
.hljs-style-panda-syntax-dark .hljs-section,
.hljs-style-panda-syntax-dark .hljs-title.function_ {
  color: #45a9f9;
}

.hljs-style-panda-syntax-dark .hljs-string,
.hljs-style-panda-syntax-dark .hljs-symbol,
.hljs-style-panda-syntax-dark .hljs-bullet,
.hljs-style-panda-syntax-dark .hljs-addition,
.hljs-style-panda-syntax-dark .hljs-selector-class,
.hljs-style-panda-syntax-dark .hljs-title.class_,
.hljs-style-panda-syntax-dark .hljs-title.class_.inherited__,
.hljs-style-panda-syntax-dark .hljs-meta .hljs-string {
  color: #19f9d8;
}

.hljs-style-panda-syntax-dark .hljs-variable,
.hljs-style-panda-syntax-dark .hljs-template-variable,
.hljs-style-panda-syntax-dark .hljs-number,
.hljs-style-panda-syntax-dark .hljs-literal,
.hljs-style-panda-syntax-dark .hljs-type,
.hljs-style-panda-syntax-dark .hljs-link,
.hljs-style-panda-syntax-dark .hljs-built_in,
.hljs-style-panda-syntax-dark .hljs-title,
.hljs-style-panda-syntax-dark .hljs-selector-id,
.hljs-style-panda-syntax-dark .hljs-tag,
.hljs-style-panda-syntax-dark .hljs-doctag,
.hljs-style-panda-syntax-dark .hljs-attribute,
.hljs-style-panda-syntax-dark .hljs-template-tag,
.hljs-style-panda-syntax-dark .hljs-meta .hljs-keyword,
.hljs-style-panda-syntax-dark .hljs-punctuation {
  color: #ffb86c;
}
