/**
 * Panda Syntax Theme for Highlight.js
 * Based on: https://github.com/tinkertrain/panda-syntax-vscode
 * Author: Annmarie Switzer <https://github.com/annmarie-switzer>
 */

.hljs-style-panda-syntax-light .hljs {
  color: #2a2c2d;
  background: #e6e6e6;
}

.hljs-style-panda-syntax-light .hljs-emphasis {
  font-style: italic;
}

.hljs-style-panda-syntax-light .hljs-strong {
  font-weight: bold;
}

.hljs-style-panda-syntax-light .hljs-link {
  text-decoration: underline;
}

.hljs-style-panda-syntax-light .hljs-comment,
.hljs-style-panda-syntax-light .hljs-quote {
  color: #676B79;
  font-style: italic;
}

.hljs-style-panda-syntax-light .hljs-params {
  color: #676B79;
}

.hljs-style-panda-syntax-light .hljs-punctuation,
.hljs-style-panda-syntax-light .hljs-attr {
  color: #2a2c2d;
}

.hljs-style-panda-syntax-light .hljs-selector-tag,
.hljs-style-panda-syntax-light .hljs-name,
.hljs-style-panda-syntax-light .hljs-meta,
.hljs-style-panda-syntax-light .hljs-operator,
.hljs-style-panda-syntax-light .hljs-char.escape_ {
  color: #c56200;
}

.hljs-style-panda-syntax-light .hljs-keyword,
.hljs-style-panda-syntax-light .hljs-deletion {
  color: #d92792;
}

.hljs-style-panda-syntax-light .hljs-regexp,
.hljs-style-panda-syntax-light .hljs-selector-pseudo,
.hljs-style-panda-syntax-light .hljs-selector-attr,
.hljs-style-panda-syntax-light .hljs-variable.language_ {
  color: #cc5e91;
}

.hljs-style-panda-syntax-light .hljs-subst,
.hljs-style-panda-syntax-light .hljs-property,
.hljs-style-panda-syntax-light .hljs-code,
.hljs-style-panda-syntax-light .hljs-formula,
.hljs-style-panda-syntax-light .hljs-section,
.hljs-style-panda-syntax-light .hljs-title.function_ {
  color: #3787c7;
}

.hljs-style-panda-syntax-light .hljs-string,
.hljs-style-panda-syntax-light .hljs-symbol,
.hljs-style-panda-syntax-light .hljs-bullet,
.hljs-style-panda-syntax-light .hljs-addition,
.hljs-style-panda-syntax-light .hljs-selector-class,
.hljs-style-panda-syntax-light .hljs-title.class_,
.hljs-style-panda-syntax-light .hljs-title.class_.inherited__,
.hljs-style-panda-syntax-light .hljs-meta .hljs-string {
  color: #0d7d6c;
}

.hljs-style-panda-syntax-light .hljs-variable,
.hljs-style-panda-syntax-light .hljs-template-variable,
.hljs-style-panda-syntax-light .hljs-number,
.hljs-style-panda-syntax-light .hljs-literal,
.hljs-style-panda-syntax-light .hljs-type,
.hljs-style-panda-syntax-light .hljs-link,
.hljs-style-panda-syntax-light .hljs-built_in,
.hljs-style-panda-syntax-light .hljs-title,
.hljs-style-panda-syntax-light .hljs-selector-id,
.hljs-style-panda-syntax-light .hljs-tag,
.hljs-style-panda-syntax-light .hljs-doctag,
.hljs-style-panda-syntax-light .hljs-attribute,
.hljs-style-panda-syntax-light .hljs-template-tag,
.hljs-style-panda-syntax-light .hljs-meta .hljs-keyword {
  color: #7641bb;
}
