/**
 * Shades of Purple Theme — for Highlightjs.
 *
 * @author (c) Ahmad Awais <https://twitter.com/mrahmadawais/>
 * @link GitHub Repo → https://github.com/ahmadawais/Shades-of-Purple-HighlightJS
 * @version 1.5.0
 */

.hljs-style-shades-of-purple .hljs {
  background: #2d2b57;
  color: #e3dfff;
  font-weight: normal;
}

.hljs-style-shades-of-purple .hljs-subst {
  color: #e3dfff;
}

.hljs-style-shades-of-purple .hljs-title {
  color: #fad000;
  font-weight: normal;
}

.hljs-style-shades-of-purple .hljs-name {
  color: #a1feff;
}

.hljs-style-shades-of-purple .hljs-tag {
  color: #ffffff;
}

.hljs-style-shades-of-purple .hljs-attr {
  color: #f8d000;
  font-style: italic;
}

.hljs-style-shades-of-purple .hljs-built_in,
.hljs-style-shades-of-purple .hljs-selector-tag,
.hljs-style-shades-of-purple .hljs-section {
  color: #fb9e00;
}

.hljs-style-shades-of-purple .hljs-keyword {
  color: #fb9e00;
}

.hljs-style-shades-of-purple .hljs-string,
.hljs-style-shades-of-purple .hljs-attribute,
.hljs-style-shades-of-purple .hljs-symbol,
.hljs-style-shades-of-purple .hljs-bullet,
.hljs-style-shades-of-purple .hljs-addition,
.hljs-style-shades-of-purple .hljs-code,
.hljs-style-shades-of-purple .hljs-regexp,
.hljs-style-shades-of-purple .hljs-selector-class,
.hljs-style-shades-of-purple .hljs-selector-attr,
.hljs-style-shades-of-purple .hljs-selector-pseudo,
.hljs-style-shades-of-purple .hljs-template-tag,
.hljs-style-shades-of-purple .hljs-quote,
.hljs-style-shades-of-purple .hljs-deletion {
  color: #4cd213;
}

.hljs-style-shades-of-purple .hljs-meta,
.hljs-style-shades-of-purple .hljs-meta .hljs-string {
  color: #fb9e00;
}

.hljs-style-shades-of-purple .hljs-comment {
  color: #ac65ff;
}

.hljs-style-shades-of-purple .hljs-keyword,
.hljs-style-shades-of-purple .hljs-selector-tag,
.hljs-style-shades-of-purple .hljs-literal,
.hljs-style-shades-of-purple .hljs-name,
.hljs-style-shades-of-purple .hljs-strong {
  font-weight: normal;
}

.hljs-style-shades-of-purple .hljs-literal,
.hljs-style-shades-of-purple .hljs-number {
  color: #fa658d;
}

.hljs-style-shades-of-purple .hljs-emphasis {
  font-style: italic;
}

.hljs-style-shades-of-purple .hljs-strong {
  font-weight: bold;
}
