/*

Sunburst-like style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs-style-sunburst .hljs {
  background: #000;
  color: #f8f8f8;
}

.hljs-style-sunburst .hljs-comment,
.hljs-style-sunburst .hljs-quote {
  color: #aeaeae;
  font-style: italic;
}

.hljs-style-sunburst .hljs-keyword,
.hljs-style-sunburst .hljs-selector-tag,
.hljs-style-sunburst .hljs-type {
  color: #e28964;
}

.hljs-style-sunburst .hljs-string {
  color: #65b042;
}

.hljs-style-sunburst .hljs-subst {
  color: #daefa3;
}

.hljs-style-sunburst .hljs-regexp,
.hljs-style-sunburst .hljs-link {
  color: #e9c062;
}

.hljs-style-sunburst .hljs-title,
.hljs-style-sunburst .hljs-section,
.hljs-style-sunburst .hljs-tag,
.hljs-style-sunburst .hljs-name {
  color: #89bdff;
}

.hljs-style-sunburst .hljs-title.class_,
.hljs-style-sunburst .hljs-class .hljs-title,
.hljs-style-sunburst .hljs-doctag {
  text-decoration: underline;
}

.hljs-style-sunburst .hljs-symbol,
.hljs-style-sunburst .hljs-bullet,
.hljs-style-sunburst .hljs-number {
  color: #3387cc;
}

.hljs-style-sunburst .hljs-params,
.hljs-style-sunburst .hljs-variable,
.hljs-style-sunburst .hljs-template-variable {
  color: #3e87e3;
}

.hljs-style-sunburst .hljs-attribute {
  color: #cda869;
}

.hljs-style-sunburst .hljs-meta {
  color: #8996a8;
}

.hljs-style-sunburst .hljs-formula {
  background-color: #0e2231;
  color: #f8f8f8;
  font-style: italic;
}

.hljs-style-sunburst .hljs-addition {
  background-color: #253b22;
  color: #f8f8f8;
}

.hljs-style-sunburst .hljs-deletion {
  background-color: #420e09;
  color: #f8f8f8;
}

.hljs-style-sunburst .hljs-selector-class {
  color: #9b703f;
}

.hljs-style-sunburst .hljs-selector-id {
  color: #8b98ab;
}

.hljs-style-sunburst .hljs-emphasis {
  font-style: italic;
}

.hljs-style-sunburst .hljs-strong {
  font-weight: bold;
}
