/* Tomorrow Night Bright Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
.hljs-style-tomorrow-night-bright .hljs-comment,
.hljs-style-tomorrow-night-bright .hljs-quote {
  color: #969896;
}

/* Tomorrow Red */
.hljs-style-tomorrow-night-bright .hljs-variable,
.hljs-style-tomorrow-night-bright .hljs-template-variable,
.hljs-style-tomorrow-night-bright .hljs-tag,
.hljs-style-tomorrow-night-bright .hljs-name,
.hljs-style-tomorrow-night-bright .hljs-selector-id,
.hljs-style-tomorrow-night-bright .hljs-selector-class,
.hljs-style-tomorrow-night-bright .hljs-regexp,
.hljs-style-tomorrow-night-bright .hljs-deletion {
  color: #d54e53;
}

/* Tomorrow Orange */
.hljs-style-tomorrow-night-bright .hljs-number,
.hljs-style-tomorrow-night-bright .hljs-built_in,
.hljs-style-tomorrow-night-bright .hljs-literal,
.hljs-style-tomorrow-night-bright .hljs-type,
.hljs-style-tomorrow-night-bright .hljs-params,
.hljs-style-tomorrow-night-bright .hljs-meta,
.hljs-style-tomorrow-night-bright .hljs-link {
  color: #e78c45;
}

/* Tomorrow Yellow */
.hljs-style-tomorrow-night-bright .hljs-attribute {
  color: #e7c547;
}

/* Tomorrow Green */
.hljs-style-tomorrow-night-bright .hljs-string,
.hljs-style-tomorrow-night-bright .hljs-symbol,
.hljs-style-tomorrow-night-bright .hljs-bullet,
.hljs-style-tomorrow-night-bright .hljs-addition {
  color: #b9ca4a;
}

/* Tomorrow Blue */
.hljs-style-tomorrow-night-bright .hljs-title,
.hljs-style-tomorrow-night-bright .hljs-section {
  color: #7aa6da;
}

/* Tomorrow Purple */
.hljs-style-tomorrow-night-bright .hljs-keyword,
.hljs-style-tomorrow-night-bright .hljs-selector-tag {
  color: #c397d8;
}

.hljs-style-tomorrow-night-bright .hljs {
  background: black;
  color: #eaeaea;
}

.hljs-style-tomorrow-night-bright .hljs-emphasis {
  font-style: italic;
}

.hljs-style-tomorrow-night-bright .hljs-strong {
  font-weight: bold;
}
